# Python
.venv/
__pycache__/
*.pyc

# Build
build/
dist/
release/

# Logs
logs/
*.log

# Eksport
export/

# Konfiguracja lokalna
config.ini

# Lokalna baza SQLite
kompas.db
kompas.db-*

# Visual Studio Code
.vscode/

# Windows
Thumbs.db
Desktop.ini
